@charset "UTF-8"

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #21243d;
  font-family: "Heebo";
  max-width: 100%;
}

header input {
  display: none;
}

.header-list ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}

.header-list li {
  margin: 27px 26px;
  list-style: none;
  font-size: 20px;
  line-height: 1.45;
  color: #142850;
}

.lead-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead img {
  margin-left: 101px;
}

.lead h1 {
  font-size: 44px;
  line-height: 1.36;
}

.lead p {
  font-size: 16px;
  line-height: 1.46;
  margin-bottom: 38px;
}

.btn {
  font-size: 20px;
  padding: 9px 20px;
  color: #fff;
  background-color: #ff6464;
  display: inline-flex;
}

.catch-wrapper {
  background-color: rgba(237, 247, 250, 1);
  margin-top: 71px;
}

.catch-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 855px;
  margin: auto;
}

.catch-heading h2 {
  font-size: 22px;
  line-height: 2.7;
  margin: 0;
}

.catch-heading p {
  font-size: 16px;
  color: rgba(0, 168, 204, 1);
  margin: 0;
}

.items {
  display: flex;
  justify-content: space-between;
  max-width: 845px;
  margin: auto;
  padding-bottom: 32px;
}

.item-text {
  padding: 7px 23px;
  background-color: #fff;
  width: 50%;
}

.item-text h2 {
  font-size: 26px;
  line-height: 1.46;
}

.post p {
  font-size: 18px;
  line-height: 1.44;
}

.post span {
  margin: 0 17px;
}

.item-text p {
  font-size: 16px;
  line-height: 1.43;
}

.left {
  margin-right: 20px;
}

.works-wrapper {
  max-width: 856px;
  margin: auto;
}

.works-heading h3 {
  font-size: 22px;
  line-height: 2.72px;
  padding-top: 18px;
  display: flex;
}

.work {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  margin: auto;
  border-bottom: 1px solid #e0e0e0;
  padding: 30px 0;
}

.work-text {
  margin-left: 18px;
  justify-content: space-between;
}

.work-text h3 {
  font-size: 30px;
  line-height: 1.46;
  margin: 0;
}

.work-text p {
  font-size: 16px;
  line-height: 1.46;
}

.work-title span {
  color: #fff;
  background-color: #142850;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 31px;
  margin-right: 26px;
}

.work-title {
  color: rgba(134, 149, 164, 1);
  font-size: 20px;
}

footer {
  text-align: center;
  margin-top: 51px;
  margin-bottom: 54px;
}

footer img {
  padding: 0 17.5px;
}
